In [1]:
a = [10,20,30,35,42,85,12,45,67,18,33]

In [3]:
a

[10, 20, 30, 35, 42, 85, 12, 45, 67, 18, 33]

In [4]:
student_name = "hareeth"

In [5]:
marks = 95

In [6]:
type(student_name)

str

In [7]:
type(a)

list

In [8]:
type(marks)

int

In [15]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9))

3 4 3 0
5 2 5 2
8 8 9 0
4 6 5 9
9 0 4 2
2 9 1 9
9 8 8 2
5 1 5 8
0 1 2 4
5 7 7 3

In [16]:
customer_name = 'anita'

In [17]:
customer_name

'anita'

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
len(keyword.kwlist)

35

In [20]:
customer = None

In [23]:
type(customer)

NoneType

In [30]:
a = -5
b = -5

In [26]:
id(a)

140726279447216

In [27]:
id(b)

140726279447216

In [31]:
c = 256
d = 256

In [32]:
print(id(c))
print(id(d))

140726279455088
140726279455088

In [33]:
a = 0b1111

In [34]:
a

15

In [35]:
a = 0o777

In [36]:
a

511

In [39]:
a = 0XFACE

In [40]:
a

64206

In [42]:
a = True
b =True
a+b

2

In [43]:
a = 'The Scholar'

In [47]:
a[4:]

'Scholar'

In [54]:
a[-1:-10:-1]

'ralohcS e'

In [55]:
ages = [22, 23,44,32,45,33,22,35,44,28,26]

In [56]:
ages = ['a',23,'b',True,33,23.5,22,43,24,32,45,33]

In [57]:
ages

['a', 23, 'b', True, 33, 23.5, 22, 43, 24, 32, 45, 33]

In [58]:
type(ages[3])

bool

In [59]:
len(ages)

12

In [61]:
ages[-1:-6:-1]

[33, 45, 32, 24, 43]

In [62]:
ages[0:4]

['a', 23, 'b', True]

In [63]:
ages[6:0:-1]

[22, 23.5, 33, True, 'b', 23]

In [64]:
ages[-4:]

[24, 32, 45, 33]

In [65]:
ages[4:8]

[33, 23.5, 22, 43]

In [66]:
ages[4:8:-1]

[]

In [67]:
ages[1]= 32

In [68]:
ages

['a', 32, 'b', True, 33, 23.5, 22, 43, 24, 32, 45, 33]

In [69]:
#Insertion order is preserve
#Duplicates are allowed
#Heterogenous data are allowed
#Growable in nature
#Lists are mutable in nature

In [72]:
ages.append(100)

In [74]:
ages.append([200,300])

In [75]:
ages

['a', 32, 'b', True, 33, 23.5, 22, 43, 24, 32, 45, 33, 100, [200, 300]]

In [76]:
ages.pop()

[200, 300]

In [77]:
ages = ['a', 32, 'b', True, 33, 23.5]

In [78]:
ages.append([200,300])

In [83]:
ages.pop()

[200, 300]

In [84]:
ages1 = ages.copy()

In [85]:
ages1

['a', 32, 'b', True, 33, 23.5]

In [86]:
del ages1

In [88]:
ages.count(32)

1

In [89]:
ages.extend([32, 32, 23, 32])

In [91]:
ages.count(32)

4

In [92]:
ages.index(32)

1

In [94]:
ages.insert(4,10)

In [95]:
ages

['a', 32, 'b', True, 10, 33, 23.5, 32, 32, 23, 32]

In [96]:
ages.pop()

32

In [97]:
ages.pop(2)

'b'

In [98]:
ages.remove('a')

In [99]:
ages

[32, True, 10, 33, 23.5, 32, 32, 23]

In [100]:
ages.reverse()

In [101]:
ages

[23, 32, 32, 23.5, 33, 10, True, 32]

In [102]:
ages.sort()

In [104]:
ages.remove(True)

In [105]:
ages.reverse()

In [106]:
ages

[33, 32, 32, 32, 23.5, 23, 10]

In [107]:
ages.sort()

In [108]:
ages

[10, 23, 23.5, 32, 32, 32, 33]

In [109]:
ages.sort(reverse = True)

In [110]:
ages

[33, 32, 32, 32, 23.5, 23, 10]

In [111]:
del ages[1:4]

In [112]:
ages

[33, 23.5, 23, 10]

In [113]:
ages = [33, 32, 32, 32, 23.5, 23, 10]

In [114]:
ages

[33, 32, 32, 32, 23.5, 23, 10]

In [115]:
ages.remove(32)

In [116]:
ages

[33, 32, 32, 23.5, 23, 10]

In [117]:
ages.insert(4,32)

In [118]:
ages.remove(32)

In [119]:
ages

[33, 32, 23.5, 32, 23, 10]