In [1]:
#input and Output
#Loops
#functions

In [2]:
name = input('enter your name')

enter your nameHareeth

In [3]:
name

'Hareeth'

In [4]:
age = input('enter your age')

enter your age26

In [5]:
age

'26'

In [6]:
type(age)

str

In [7]:
age = int(input('enter your age'))

enter your age25

In [8]:
age

25

In [9]:
marks = float(input('enter marks'))

enter marks88.5

In [10]:
marks

88.5

In [13]:
numbers = input('enter 5 numbers').split()

enter 5 numbers21 22 23 24 25

In [14]:
numbers

['21', '22', '23', '24', '25']

In [15]:
numbers = input('enter 5 numbers').split(',')

enter 5 numbers21,22,23,24,25

In [16]:
numbers

['21', '22', '23', '24', '25']

In [17]:
a = [int(x) for x in input('enter 5 numbers:').split(',')]

enter 5 numbers:21,22,23,24,25

In [18]:
a

[21, 22, 23, 24, 25]

In [19]:
type(a[0])

int

In [20]:
sum(a)

115

In [23]:
a = tuple(int(x) for x in input('enter 5 numbers:').split(','))

enter 5 numbers:21,22,23,24,25

In [24]:
type(a)

tuple

In [25]:
details = [eval(x) for x in input('enter your name,age,MS,salary').split(',')]

enter your name,age,MS,salary'Hareeth',25, True, 10.5

In [26]:
details

['Hareeth', 25, True, 10.5]

In [27]:
type(details[2])

bool

In [29]:
type(details)

list

In [30]:
#Forms
a,b,c = 10,20,30

In [35]:
print("the values are:",a,b,c)

the values are: 10 20 30

In [36]:
a,b,c = 10.5,20,30

In [37]:
print('the value of a is %i' %a)
print('the value of a is %f' %b)

the value of a is 10
the value of a is 20.000000

In [41]:
name = 'Hareeth'
salary = 100000
company = 'Infosys'
print('Hello {}, your salary is {}, your company is {}'.format(name,salary,company))

Hello Hareeth, your salary is 100000, your company is Infosys

In [39]:
print('Hello {1}, your salary is {2}, your company is {0}'.format(name,salary,company))

Hello 100000, your salary is TCS, your company is Hareeth

In [42]:
print('Hello {n}, your salary is {s}, your company is {c}'.format(c=company, s=salary, n=name))

Hello Hareeth, your salary is 100000, your company is Infosys

In [43]:
#Flow control
#IF else
#For
#While

In [46]:
marks = int(input('enter your marks'))
if marks>40:
    print('you passed')
else:
    print('you failed')

enter your marks42
you passed

In [47]:
x = int(input('enter a no'))
if x%2==0:
    print('even')
else:
    print('odd')

enter a no20
even

In [48]:
#if condition:
#    output
#else:
#    output

In [49]:
#for x in variable:
#    output

In [54]:
name = 'Hareeth'
count = 0
for x in name:
    count=count+1
    print(x)
print(count)

H
a
r
e
e
t
h
7

In [61]:
sale = [2322,4333,4354,1234]
profit =[234,432,435,123]
x = [10,20,30,40]

In [62]:
for i in range(0,len(sale)):
    x[i] =((profit[i]/sale[i])*100)
    print(x[i])

10.077519379844961
9.969997692130164
9.990813045475425
9.967585089141005

In [64]:
#While loop
coupon=5
utilized=0
while utilized<=coupon:
    print('coupons left are',coupons-utilized)
    utilized=utilized+1

coupons left are 0
coupons left are 1
coupons left are 2
coupons left are 3
coupons left are 4
coupons left are 5

In [65]:
a=10
b=5
c=8
x= a if (a>b and a>c) else b if b>c else c
print(x)

10

In [66]:
10 in range(0,10)

False