In [2]:
#Tuples
#Range
#Dictionaries
#Sets
#Operators

In [3]:
list1 = [1,2,3,4,5]

In [4]:
tuple1 = (1,2,3,4,5)

In [5]:
type(tuple1)

tuple

In [6]:
tuple1[2]

3

In [7]:
tuple1

(1, 2, 3, 4, 5)

In [8]:
tuple[1] = 0

TypeError: 'type' object does not support item assignment

In [9]:
a = list(tuple1)

In [10]:
a[1] = 0

In [11]:
tuple(a)

(1, 0, 3, 4, 5)

In [12]:
a

[1, 0, 3, 4, 5]

In [13]:
tuple1

(1, 2, 3, 4, 5)

In [14]:
tuple1.count(3)

1

In [15]:
tuple1.index(2)

1

In [16]:
del tuple1

In [17]:
tuple1

NameError: name 'tuple1' is not defined

In [18]:
tuple1 = (1,2,3,3,4,5,2)

In [19]:
sum(tuple1)

20

In [20]:
len(tuple1)

7

In [21]:
#range
range(0,10)

range(0, 10)

In [22]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [26]:
list(range(10,2))

[]

In [27]:
list(range(10,0))

[]

In [28]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
a = list(range(10,0,-2))

In [31]:
a

[10, 8, 6, 4, 2]

In [34]:
list(range(2,10,2))

[2, 4, 6, 8]

In [35]:
#Dictionaries

In [37]:
dict1 = {'a': 1, 'b': 2, 'c': 3}

In [39]:
dict1['a']

1

In [41]:
dict2 = {'student_name' : ['a','b','c','d','e'],
          'student_age'  : [1,2,3,4,5]}

In [42]:
dict2['student_name']

['a', 'b', 'c', 'd', 'e']

In [43]:
dict2['student_age']

[1, 2, 3, 4, 5]

In [44]:
dict2['student_name'][0]

'a'

In [45]:
dict2['student_name'][0] = 'x'

In [46]:
dict2

{'student_name': ['x', 'b', 'c', 'd', 'e'], 'student_age': [1, 2, 3, 4, 5]}

In [47]:
dict2['Region'] = ['S','N','E','W','N']

In [48]:
dict2

{'student_name': ['x', 'b', 'c', 'd', 'e'],
 'student_age': [1, 2, 3, 4, 5],
 'Region': ['S', 'N', 'E', 'W', 'N']}

In [49]:
dict2[0]

KeyError: 0

In [50]:
import pandas as pd

In [51]:
pd.DataFrame(dict2)

  student_name  student_age Region
0            x            1      S
1            b            2      N
2            c            3      E
3            d            4      W
4            e            5      N

In [69]:
dict1 = dict2.fromkeys({'student_name','student_age'}, 'NA')

In [54]:
dict2.keys()

dict_keys(['student_name', 'student_age', 'Region'])

In [55]:
dict2['age'] = dict2.pop('student_age')

In [56]:
dict2

{'student_name': ['x', 'b', 'c', 'd', 'e'],
 'Region': ['S', 'N', 'E', 'W', 'N'],
 'age': [1, 2, 3, 4, 5]}

In [57]:
dict2.items()

dict_items([('student_name', ['x', 'b', 'c', 'd', 'e']), ('Region', ['S', 'N', 'E', 'W', 'N']), ('age', [1, 2, 3, 4, 5])])

In [58]:
dict1 = dict2.copy()

In [59]:
dict1

{'student_name': ['x', 'b', 'c', 'd', 'e'],
 'Region': ['S', 'N', 'E', 'W', 'N'],
 'age': [1, 2, 3, 4, 5]}

In [60]:
dict1.setdefault('DOB')

In [61]:
dict1

{'student_name': ['x', 'b', 'c', 'd', 'e'],
 'Region': ['S', 'N', 'E', 'W', 'N'],
 'age': [1, 2, 3, 4, 5],
 'DOB': None}

In [65]:
mydict1 = {1:2, 3:4}
mydict2 = {1:6, 7:8}

In [66]:
mydict1.update(mydict2)

In [67]:
mydict1

{1: 6, 3: 4, 7: 8}

In [70]:
dict1

{'student_age': 'NA', 'student_name': 'NA'}

In [73]:
#Sets

studid = {1,1,1,2,2,3,3,4,5,6}

In [74]:
studid

{1, 2, 3, 4, 5, 6}

In [75]:
set1 = set([1,1,2,3,3])

In [76]:
set1

{1, 2, 3}

In [77]:
set1.add(4)

In [78]:
set1

{1, 2, 3, 4}

In [79]:
set1.discard(4)

In [80]:
set1

{1, 2, 3}

In [81]:
set1.remove(3)

In [82]:
set1

{1, 2}

In [83]:
set1.pop()

1

In [84]:
set1.update([5,6,7,8,9])

In [85]:
set1

{2, 5, 6, 7, 8, 9}

In [86]:
set2 = {2,4,10,11,9}

In [87]:
set1.difference(set2)

{5, 6, 7, 8}

In [88]:
set2

{2, 4, 9, 10, 11}

In [89]:
set1.difference_update(set2)

In [90]:
set1

{5, 6, 7, 8}

In [91]:
set1 = {2, 5, 6, 7, 8, 9}

In [92]:
set2.difference_update(set1)

In [93]:
set2

{4, 10, 11}

In [94]:
set2 = {2,4,10,11,9}

In [95]:
set1.intersection(set2)

{2, 9}

In [96]:
set1 ={1,2,3}
set2 = {4,5,6}

In [97]:
set1.isdisjoint(set2)

True

In [101]:
set1 = {1,2,3,4}
set2 = {1,2,3,4}

In [99]:
set2.issubset(set1)

True

In [100]:
set1.issuperset(set2)

True

In [102]:
set2.issubset(set1)

True

In [103]:
set1.issuperset(set2)

True